.heading {
    width: 100%;
    font-size: 20px;
}

#note {
    color: black;
    font-size: 15px;
}

.background {
    background-image: url("background.jpg");
    background-size: cover;
}

.Play_button {
    height: 50px;
    width: 150px;
    font-size: 20px;
}

canvas {
    margin-top: 50px;
    border: 5px solid white;
    box-shadow: 5px 5px 5px lightblue;
    border-radius: 15px;
}